/* Blog for Portal CSS */
section {
	text-align:left;
	max-width: 800px;
	margin-left: 235px;
	margin-top: 50px;
	margin-bottom: 50px;
	color: #4391AF;
	border-bottom: 2px solid white;
}

/*
p {
	max-width: 800px;
	margin-bottom: 50px;
  margin-left:90px;
} */

body {
	text-align:center;
	margin: auto;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:1.1em;
	background-color: #DCFEFF;
}

#mySketch {
	margin-top: -150px;
}

.frack {
	margin-left: auto;
}
h1 {
	color: #4391AF;
	font-size: 3em;
}

div {
	margin-bottom: 50px;
}

/* unvisited link */
a:link {
    color: #4391AF;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #4391AF;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: #4391AF;
}
