/* Blog for Portal CSS */

#name {
	padding-top: 80px;
	padding-bottom: 80px;
}



body {
	text-align:left;
	margin: auto;
	width: 40%;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:1.1em;
	background-color: #DCFEFF;
}

p {
	max-width: 400px;
	text-align: left;
	border-bottom: 2px solid #fff;
	margin: auto;
	padding-top: 50px;
	padding-bottom: 80px;
	color: #4391AF;
}

h1 {
	text-align: left;
	color: #4391AF;
}

p {
	max-width: 800px;
	text-align: left;
	margin: 50px auto 50px auto;
	color: #4391AF;
}

section {
	border-bottom-width: 800px;
	color:  #fff;

}
/* unvisited link *//*
a:link {
    color: #4391AF;
    text-decoration: none;
}

/* visited link *//*
a:visited {
    color: #4391AF;
}

/* mouse over link *//*
a:hover {
    color: hotpink;
}

/* selected link *//*
a:active {
    color: #4391AF;
}
*/
