/* Blog for Portal CSS */
/*section {
	text-align: left;
	/*margin: auto;
	width: 50%;*/
/*	border-bottom: 2px solid white;
}*/

/*
p {
	max-width: 800px;
	margin-bottom: 50px;
  margin-left:90px;
} */

body {
	text-align:center;
	margin: auto;
	width: 50%;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:1.1em;
	background-color: #DCFEFF;
}

h1 {
	text-align: center;
	margin: 200px auto 30px auto;
	color: #4391AF;

}

p {
	max-width: 800px;
	text-align: left;
	margin: 50px auto 50px auto;
	color: #4391AF;
}
/* unvisited link */
a:link {
    color: #4391AF;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #4391AF;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: #4391AF;
}
